.cart-container{
  text-align: center;
}
.cart-title {
  color: black;
  margin-left: 300px;
}
.table {
  border-collapse: collapse;
  width: 60rem;
  margin: auto;
  background-color: #FCFAF6;
  border: 2px solid #E3D1C0;
  margin-bottom: 30px;
  margin-left: 30px;

}

.table-header {
  font-family: "sf-bold", sans-serif;
  background-color: #E3D1C0;
  font-size: 20px;
}

.table-item {
  font-family: "sf";
  text-align: center;
  padding: 20px;

}
 .table-item-special{
  padding-left: 40px;
  text-align: left;

 }

.checkout-btn {
  font-family: "sf";
  font-size: 17px;
  border-radius: 20px;
  background-color: #FCFAF6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #775C4C;
  border: 2px solid #775C4C;
  transition: background-color 0.5s, color 0.5s;
}
.checkout-btn:hover{
  color: #FCFAF6;
  background-color: #775C4C;
  border-color: #775C4C;
}


.cart-container {
  width: 70rem;
}

.receipt-container{
  text-align: end;
  border-collapse: collapse;
  width: 30%;
  float: right;
  background-color: transparent;
  border: none;
}

.receipt-table {
  text-align: left;
  margin-top: -25rem;
  margin-left: 65rem;
  margin-bottom: 1px;
  border-collapse: collapse;
  width: 20em;
  background-color: transparent;
  border: none;
}
.receipt-table td {
  padding: 5px;
}
.receipt-table tr:first-child {
  border-bottom: 1px solid black;
}

.checkout-btn-container{
text-align: end;
}

.footer{
  margin-top: 10rem;
}

@media (max-width: 1500px) {
  .cart-container {
    display: inline-flex;
    flex-direction: column;
    width: auto;
  }
  .cart-title { margin-left: 0;}

  .receipt-table {
    align-self: center;
    margin-left: 0;
    margin-top: 0;
    width: 90%;
  }

  .checkout-btn-container {
    text-align: center;
  }


@media (max-width: 1000px) {

  .table {
    width: 90%;
    margin: auto;
  }

  .cart-container {
    display: inline-flex;
    flex-direction: column;
    width: auto;
  }
  .cart-title { margin-left: 0;}

  .receipt-table {
    align-self: center;
    margin-left: 0;
    margin-top: 0;
    width: 90%;
  }

  .checkout-btn-container {
    text-align: center;
  }

  .footer {
    margin-top: 5rem;
  }


}
