.cart-container{
  width:100vw;
  height: 50vh;
  /* border:1px solid black; */
  position: relative; 
}
.cart-title {
  color: black;
  text-align: center;
}
.table {
  text-align: center;
  border-collapse: collapse;
  width: 50rem;
  margin: auto; 
  background-color: #FCFAF6; 
  border: 2px solid #E3D1C0;
  margin-bottom: 30px;
  /* border:1px solid black; */
  margin-right: 38rem; 
}

.table-header {
  font-family: "sf-bold", sans-serif;
  background-color: #E3D1C0; 
  font-size: 20px;
}

.table-item {
  font-family: "sf";
  text-align: center;
  padding: 20px;
  
}
 .table-item-special{
  padding-left: 40px;
  text-align: left;

 }

.checkout-btn {
  font-family: "sf";
  font-size: 17px;
  border-radius: 20px; 
  background-color: #FCFAF6; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #775C4C;
  border: 2px solid #775C4C;
  transition: background-color 0.5s, color 0.5s;
}
.checkout-btn:hover{
  color: #FCFAF6;
  background-color: #775C4C; 
  border-color: #775C4C;
}


/* .receipt-container{
  text-align: end;
  border-collapse: collapse;
  width: 30%;
  float: right;
  background-color: transparent;
  border: none;
} */

.receipt-table {
  text-align: left;
  border-collapse: collapse;
  width: 20rem;
  background-color: transparent;
  border: none;
  /* border:1px solid black; */

  position: absolute; 
  top: 8rem; 
  right: 15rem; 
}

.receipt-table td {
  padding: 5px;
  padding-top: 10px;
}
.receipt-table tr:first-child {
  border-bottom: 1px solid black;
}

.checkout-btn-container{
text-align: end;
}

.footer{
  margin-top: 10rem;
}

@media (max-width: 1000px) {

  .table {
    width: 90%;
    margin: auto;
  }

  .cart-container {
    text-align: center;
    width: 90%;
  }

  .receipt-table {
    text-align: left;
    margin-left: 5rem;
    margin-top: 30px; 
    width: 90%;
    position: static; 
    display: block; 
    
  }
  
  
  .checkout-btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .footer {
    margin-top: 30rem;
  }

  
}
