/* filter section  */
.filter {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
  /* border-bottom: 3px solid rgb(147, 125, 114); */
}

.filter-right {
  display: flex;
  /* margin-right: 0; */
}

.filter-right input {
  width: 70%;
}

.dropdown {
  width: 70%;
}
/* end of filter section  */


/* overall schedule section  */
.schedule{
  /* border: 1px solid red; */
  margin:2rem 5rem;
}

.schedule-daily-cart{
  flex: 3;
}

.schedule-daily {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-top: 3px solid rgb(147, 125, 114);
}

.date {
  flex: 2;
  display: flex;
  flex-direction: column;
}


/* date  */
.date :nth-child(1) {
  font-size: 1.5rem;
}

.date :nth-child(2) {
  font-size: 3rem;
}
/* end of date  */


/* schedule info section  */
.schedule-each {
  display: flex;
  margin-top: 1.5rem;
}

.schedule-each a{
  width:30%;
  flex:1;
  text-align: center;
  margin: auto;
}

.schedule-each-info{
  flex:1;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.schedule-each-info span{
  margin-top: 0.2rem;
}

.schedule-each-info span:nth-child(2){
  font-weight: bold;
  font-size: 1.25rem;
}




