.sign-up {
    display: flex;
    gap: 5rem;
    margin: 2rem 4rem;
}

.sign-up-img {
    flex: 1
}

.sign-up-info {
    flex: 1;
    flex-wrap: wrap;
    background-color: rgb(196, 151, 128);
    padding-left: 2rem;
    border-radius: 2rem;
}

.sign-up-info h2 {
    margin-left: 0;
}

#fName,#lName,#bd,#email{
    width: 60%;
}

.line1{
    display: flex;
}

.line1>div{
    flex:1;
}

.line2{
    display: flex;
}

.line2>div{
    flex:1;
}

.sign-up-info input{
  width:70%;
}

.main-cta {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    width: 40%;
    text-align: center;
}
